body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
}

.header {
    background: #FFFFFF;
}
.header-title {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #2E2F42;
text-transform: uppercase;
text-decoration: none;
list-style-type: none;
 }
.accent {
    color: #4D5AE5;
 }

.header-href {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
text-decoration: none;
list-style: none;
 }

.header-href:hover {
    color: #404BBF;
    }
.header-href:active {
    color: #404BBF;
    }

.header-href:focus {
    color: #404BBF;
    }

 .href-list-ul {
    list-style: none;
 }

.address-link {
  font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
list-style: none;
font-style: normal;
 }
 
.address-link:hover {
    color: #404BBF;
    }

.address-link:active {
    color: #404BBF;
    }

.address-link:focus {
    color: #404BBF;
    }  

.main-section {
    background: #2E2F42;
 }

.main-section-title {
font-family: Roboto, sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
background: #2E2F42;
}

.main-button {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
}

.main-button:hover {
    background: #404BBF;
    }

.main-button:active {
    background: #404BBF;
    }

.main-button:focus {
    background: #404BBF;
    }

.main-button {
        cursor: pointer;
    }

.title-one {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42; 
}

.title-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.section-our-team {
background: #F4F4FD;
;
}
.section-title-features {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
}
.section-title {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}

.title-our-team {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}

.title-text-our-team {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.team-item {
    background: #FFFFFF;
}

.title-portfolio {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.title-text-portfolio {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
    background: #2E2F42;
}

.href-footer {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #F4F4FD;
text-decoration: none;
list-style-type: none;
text-transform: uppercase;
 }

 .footer-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
 }