body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  background: #FFFFFF;
  padding: 24px 0;
}

.header-title {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #2E2F42;
text-transform: uppercase;
text-decoration: none;
list-style-type: none;
 }

.accent {
    color: #4D5AE5;
 }

.header-nav {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  list-style: none;
  flex-direction: row;
  list-style: none;
 }

.header-href {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
text-decoration: none;
list-style: none;
 }

.header-href:hover {
    color: #404BBF;
    }
.header-href:active {
    color: #404BBF;
    }

.header-href:focus {
    color: #404BBF;
    }

.address-link {
 font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
list-style: none;
font-style: normal;
 }

 .header-address {
  font-style: normal;
}

 .address {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 8px; 

} 
.address-link:hover {
    color: #404BBF;
    }

.address-link:active {
    color: #404BBF;
    }

.address-link:focus {
    color: #404BBF;
    }  

.main-section {
  background-color: #2E2F42;
  padding: 188px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main-section-title {
font-family: Roboto, sans-serif;
font-weight: 700;
font-size: 56px;
max-width: 496px;
margin-bottom: 48px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}

.main-button {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
cursor: pointer;
align-content: center;
min-width: 169px;
height: 56px;
}

.main-button:hover {
    background: #404BBF;
    }

.main-button:active {
    background: #404BBF;
    }

.main-button:focus {
    background: #404BBF;
    }

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.section-features {
  padding: 120px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
  box-sizing: border-box;
  text-align: left;
}

.title-features {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42; 
  margin-bottom: 8px;
}

.features-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


.section-title-features {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
text-align: center;
margin-bottom: 60px;
}

.section-our-team {
  background: #F4F4FD;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.section-title {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 72px;
}

.section-title-team {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
text-align: center;
margin-bottom: 60px;
}

.title-team {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42; 
}

.title-our-team {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}

.title-text-our-team {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.team-item {
background: #FFFFFF;
border-radius: 0 0 4px 4px;
width: calc((100% - 72px) / 4);
}

.section-portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

}

.title-portfolio {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.title-text-portfolio {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
    background: #2E2F42;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 0;
}

.href-footer {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #F4F4FD;
text-decoration: none;
list-style-type: none;
text-transform: uppercase;
 }

 .footer-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
max-width: 264px;
 }